[submodule "external/render-c"]
	path = external/render-c
	url = https://github.com/cynic64/render-c
[submodule "external/render-utils"]
	path = external/render-utils
	url = https://github.com/cynic64/render-utils
